.category{
    padding-left: 70px;
    cursor: pointer;
    width: 350px;
}

@media screen and (max-width: 600px){
    .category{
        width: 200px;
        font-size: larger;
        padding-left: 0px;
    }

}